@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      	--color-brand: 36 130 50;
    }

    html,
    body {
        @apply font-sans font-normal text-secondary;
    }
}

body{
    -webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

body {
	@apply bg-beige;
}

body.no-scroll {
    @apply overflow-hidden;
}

.sticky-header{
	@apply sticky top-0 transform translate-y-0;
}

.sticky-header.header-in{
	@apply animate-headerAnimation;
}

.cursor{
    transition: width 0.3s cubic-bezier(0.3, 0, 0.3, 1), height 0.3s cubic-bezier(0.3, 0, 0.3, 1), background 0.3s cubic-bezier(0.3, 0, 0.3, 1), margin 0.3s cubic-bezier(0.3, 0, 0.3, 1), opacity 0.7s cubic-bezier(0.3, 0, 0.3, 1);
}

.cursor.cursor-zoom{
    @apply w-56 h-56 bg-grey-none border border-grey-shade;
}

.menu-btn.active::before{
    opacity: 0;
}

.menu-btn.active span{
    @apply top-14 rotate-45;
}

.menu-btn.active span:last-child{
    @apply -rotate-45;
}

.menu-overlay.is-visible{
    @apply opacity-100 visible pointer-events-auto;
}

.menu-overlay.is-open{
    @apply right-0;
}

.menu-overlay.is-open::before{
    @apply skew-x-0 skew-y-0;
}

.title-shadow{
    text-shadow: 2px 2px #000, -2px 2px #000, 2px -2px #000, -2px -2px #000, 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.style-btn{
    @apply before:absolute before:top-1/2 before:left-1/2 before:bg-brand before:transition-all 
    before:duration-0.6 before:ease-smooth-header before:-translate-x-1/2 before:-translate-y-1/2
    before:w-[0%] before:h-[0%] before:opacity-0 hover:before:w-[calc(100%-4px)] hover:before:h-[calc(100%-4px)] 
    hover:before:opacity-100 hover:before:rounded-full before:blur-10 before:hover:blur-0 dark:!text-white;
}

.style-btn:hover span{
    @apply text-white dark:text-white;
}

.btn{
    @apply h-56 tracking-0.05 inline-block relative text-13 font-semibold transition-all duration-0.7 ease-smooth-header align-top leading-[56px] cursor-pointer;
}

.btn-link{
    @apply before:absolute before:w-50 before:h-2 before:bg-black before:left-0 before:top-1/2 before:dark:bg-grey-dark-shade;
}
