@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      	--color-brand: 17 122 101;
    }

	html,
    body {
        @apply font-normal text-secondary;
    }
}

body{
    -webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

body {
	@apply bg-beige;
}

body.no-scroll {
    @apply overflow-hidden;
}

.body-section {
	@apply flex flex-col justify-center items-center min-h-[calc(100vh-32px)];
}
